body {
    background-color: rgb(185, 80, 80);
}
p {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(209, 177, 33);
}
img {
    width: 700px;
    display: block;
    height: 70%;
    margin: auto;
}
a {
    text-decoration: none;
    color: rgb(0, 195, 255);
}
.zagolovok {
    text-align: center;
    color: rgb(221, 183, 14);
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 3px 4px 5px #FFA07A;
}
span {
    font-size: 35px;
    color: black;
}